/* App全体で適用されるCSS */

/* Reset  + Base */
html {
  block-size: 100%;
  -webkit-text-size-adjust: none;
  interpolate-size: allow-keywords;
}

body {
  min-height: 100vh;
  overflow-wrap: anywhere;
  line-break: strict;
  word-break: normal;
  font-weight: 400;
  font-feature-settings: "palt";
  color: #000;
  background-color: #fff;
}

@media all and (-ms-high-contrast: none) {
  body {
    width: 100%;
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font: inherit;
  font-variant-numeric: tabular-nums;
  vertical-align: baseline;
  border: 0;
  min-width: 0;
  min-height: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
select,
input,
textarea,
button {
  vertical-align: middle;
  background-color: transparent;
  outline: 0px;
  color: #000;
  border: 1px solid #000;
}
